.front-view
{
    min-height: 100vh;
    background-image: url("../img/bgcat.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.front-view > section
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    width: 60vw;

    border: thin solid black;
    box-shadow: 0px 0px 25px black;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: whitesmoke;
}
.img-fluid
{
    /* ide megy majd a kép méretezés*/
    height: auto;
}
nav
{
    font-size: 1.1em;
    font-family: 'Georgia';
}
.navbar-brand
{
    font-size: 1.1em;
    color: black !important;
}
.navbar-brand > img
{
    display: inline-block;
    width: 1.5em;
    margin-bottom: 0.3em;
}
.nav-link
{
    color: black !important;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 1rem;
}
.nav-item:nth-child(2)
{
    /*itt még átírni mert nem jó megoldás :C*/
    margin: 0 1rem 0 1rem;
}
@media only screen
and (min-width: 300px)
and (max-width: 480px)
{
    .navbar-nav
    {
        text-align: center;
    }
}
@media only screen 
and (min-width: 768px)
and (max-width: 1024px)
{
    .navbar-nav
    {
        text-align: center;
    }
}