.front-view
{
    height: 100vh;
    background-image: url("../img/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    /*background-attachment:fixed;*/
    background-size: cover;
}
.img-fluid
{    
    max-height: 60%;
    max-width: 60%;
    height: auto;
    width: auto;
}
.col-md-6
{
    background-color: red;
}
nav
{
    font-size: 1.1em;
    font-family: 'Georgia';
}
.navbar-brand
{
    font-size: 1.1em;
}
.navbar-brand > img
{
    margin: 0;
    width: 5rem;
    height: 5rem;
}
